.single-item{
    position: relative;
    width: 100%;
    max-width: 1366px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
}
.title {
    background-color: white;
    padding: 10px;
    bottom: 0;
    right: 0;
    width:auto;
    position: absolute;
    font-weight: 600;
}